.carousel {
  display: flex;
  flex-direction: row;
  height: 240px;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
}

.carousel img {
  width: 50vw;
  margin: 5px;
}

.start-btn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.start-btn {
  bottom: 0;
  position: fixed;
  background-color: #0fa36b;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  padding: 10px;
  width: 80vw;
  color: #fff;
}

.img-size1{
  height: 250px;
  width: 100%;
}

.name-food{
  margin-left: 5px;
  color: #0fa36f;
}

.type-food{
  margin-left: 5px;
  color: #0fa36f;
}

.button-share-favorite{
  background-color: #0fa36b;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  padding: 3px;
  width: 20vw;
}

.container-ingredients{
  margin:7px;
}

.ingredients-section{
  background-color:	#DCE4E2;
  margin: 5px;
}

.instructions{
  line-height: 1.6;
  margin:10px;
  text-align: justify; 
}

.video{
  margin:10px;
}
.card-recommended{
  height: 50%;
  width: 50%;
}

.div-card-recommended{
  margin: 5px;
}

.name-card-recommended{
  margin: 5px;
}

.svg-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(71deg) brightness(103%) contrast(100%);
}

.container-instructions{
  background-color:	#DCE4E2;
  margin: 5px;
}

.name-fav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.h3-ingredients{
  margin-left: 5px;
  color: #0fa36f;
}

.h3-instructions{
  margin-left: 5px;
  color: #0fa36f;
}