.carousel {
  display: flex;
  flex-direction: row;
  height: 240px;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
}

.carousel img {
  width: 50vw;
}

.start-btn {
  bottom: 0;
  position: fixed;
}

.img-size1{
  height: 180px;
  width: 100%;
  /* margin-top: 20px;
  margin-left: 20px;
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto; */
}

.name-food{
  margin-left: 5px;
  color: #0fa36f;
}

.type-food{
  margin-left: 5px;
  color: #0fa36f;
}

.button-share-favorite{
  background-color: #0fa36b;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  padding: 3px;
  width: 20vw;
}

.container-ingredients{
  display: flex;
}