footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: #0A7049;
  margin: 5px 0 0;
}

.footer-logo {
  margin: 0 10vw;
  padding: 5px;
}