.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #0A7049;
  font-size: 20px;
  height: 65px;
}

.btn-header {
  border: 0;
  background-color: #0A7049;
  margin: auto 15px;
}

.page-title {
  font-family: sans-serif;
  margin: auto;
  color: #fff;
}

.svg-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(71deg) brightness(103%) contrast(100%);
}
