.search-filter {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.search-input {
  margin: 10px;
  padding: 10px;
  border-style: none;
  border: 1px solid #E5F0ED;
  border-radius: 5px;
}

.search-input:focus {
  outline-color: #DCE4E2;
}

.radio-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 10px;
}

.search-btn {
  border-style: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  background-color: #0fa36b;
  color: #fff
}